<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>list of Registered Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css"/>-->
    <script type="text/javascript" src="webjars/bootstrap/js/boostrap.min.js"></script>
</head>
<body>
<div align="center" class="container my-2">
    <h2>Registered Users</h2>
</div>
<div>
    <table border="1" class="table table-striped table-responsive-md">
        <thead class="thead-dark" >
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>F Name</th>
            <th>L Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${list}">
<!-- and for each user display users for each column-->
        <td th:text="${user.id}">User Id</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.firstName}">First Name</td>
        <td th:text="${user.secondName}">Second Name</td>
            <td> <a th:href="@{/showFormUpdate/{id}(id=${user.id})}" class="btn btn-primary">update</a>
                <a th:href="@{/deleteStudent/{id}(id=${user.id})}" class="btn btn-danger">delete</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>